{
	"presets": [
		"es2015",
		"es2017",
		"stage-0",
		"react"
	],
	"plugins": [
		"transform-decorators-legacy",
		"react-html-attrs",
		"transform-class-properties",
		"react-hot-loader/babel",
		"transform-flow-strip-types"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		}
	}
}
