.exampleClass
	color: blue;
	background-color: red;
	display: flex;

	@media (max-width: 350px)
		background-color: yellow;

	@media (min-width: 650px)
		background-color: black;

.anotherExampleClass
	color: green;
	background-color: red;

	@media (max-width: 350px)
		background-color: yellow;
